<configuration>

<appender name="SQL" class="ch.qos.logback.core.FileAppender">
<file>target/sql.log</file>
<encoder>
<pattern>%msg%n</pattern>
</encoder>
</appender>

<logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
<appender-ref ref="SQL"/>
</logger>

<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
<appender-ref ref="SQL"/>
</logger>

<root level="INFO">
<appender-ref ref="SQL"/>
</root>
</configuration>
